SWAGGER_URLS=[ { url: 'http://localhost:8186/v3/api-docs', name: 'Customer' }, { url: 'http://localhost:8185/v3/api-docs', name: 'Dish' }, { url: 'http://localhost:8184/v3/api-docs', name: 'Kitchen' }, { url: 'http://localhost:8183/v3/api-docs', name: 'Management' }, { url: 'http://localhost:8182/v3/api-docs', name: 'Order' } ]
