version: '3.1'

services:

  mongo:
    image: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27018:27017" # exposed for development only
    volumes:
      - /my/own/datadir:/data/db
    networks:
      - restaurant

  mongo-express:
    image: mongo-express
    restart: unless-stopped
    ports:
      - "8180:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27018/
    networks:
      - restaurant

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: unless-stopped
    ports:
      - "5675:5672" # exposed for development only
      - "15675:15672"
    volumes:
      - rabbit_data:/var/lib/rabbitmq/
      - rabbit_log:/var/log/rabbitmq
    networks:
      - restaurant

networks:
  restaurant:
    driver: bridge

volumes:
  mongo_data:
  rabbit_data:
  rabbit_log:
